/*layout*/

html {
    margin: 0;
    padding: 0;
    background: #FFFFFF
}

.container {
    position: relative;
}

body {
    max-width: 940px;
    margin: 0 auto;
    font: 10pt/1.5em Courier New;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
    display: block;
}

#name{
    padding-left: 20px;
    padding-top: 10px;
    color: #33b5e5;
    font-family: "Courier New";
    font-weight:lighter;
}
@media screen and (min-width:600px) {
    nav {
        float: left;
        width: 20%;
    }
    section {
        margin-left: 20%;
    }
}
@media screen and (max-width:599px) {
    nav li {
        display: inline;
    }
    section {
        margin-left: 20px;
    }
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {color: #33b5e5;}
